{% extends 'index.html' %}

{% block content %}
<div class="music">
    {% if music %}
    {% for item in music[-1] %}
    <div class="music-card" data-id="{{ item.id }}" data-artist="{{ item.artist }}" data-name="{{ item.name }}">
        <div class="track">
            <div class="track-cover-container">
                <img class="track-cover" src="{{ url_for('.get_image', datatype='music', item_id=item.id) }}" alt="{{ item.name }}">
                <div class="main-play-btn">
                    <button class="play-pause-btn">
                        <img src="/static/images/play3.png" alt="Play">
                    </button>
                </div>
            </div>

            <div class="track-details">

                <div class="track-name">{{item.artist}} - {{ item.name }}</div>
                <div class="track-info">
                    <div class="track-meta">
                        <span><strong>{{ content_ln['show_music']['meta'][0] }}:</strong> {{ date_release }}</span>
                        <span><strong>{{ content_ln['show_music']['meta'][1] }}:</strong> {{ item.duration }}</span>
                        <span><strong>{{ content_ln['show_music']['meta'][2] }}:</strong> {{ auditions_data }}</span>
                        <strong>{{ content_ln['show_music']['meta'][3] }}:</strong>
                        <div class="category-href-music">
                            {%for item in category_list%}
                            <a href="{{url_for('.show_music_category', category=item)}}">{{item}}</a>
                            {%endfor%}
                        </div>
                    </div>
                </div>

                <div class="track-album">
                    {%if album%}
                    <p class="title-mus">{{ content_ln['show_music']['meta'][4] }}:</p>
                    <a href="{{url_for('.show_albums', al_id=album[0]['id'], name=album[0]['name'] | replace(' ', '_'))}}">
                        <img width="150" src="{{ url_for('.get_image', datatype='album', item_id=album[0]['id']) }}"
                             alt="{{ album[0]['name'] }}">
                        {{album[0]['name']}}
                    </a>
                    {%endif%}
                </div>
            </div>
        </div>

        {%if current_user.is_authenticated%}
        <p class="playlist-title" id="toggle-playlist-menu">{{ content_ln['show_music']['buttons'][0] }}</p>
        <div id="playlist-menu" class="playlist-menu">
            <form action="{{ url_for('playlist.add_music_in_playlist') }}" method="post" class="playlist-form">
                <input type="hidden" name="music_id" value="{{ item.id }}">
                <input type="hidden" name="music_name" value="{{ item.name }}">
                {% if playlist_add %}
                {% for item in playlist_add %}
                <div class="playlist-option">
                    <input type="radio" name="playlist_id" value="{{ item.id }}" id="playlist_{{ item.id }}"
                           class="playlist-radio" required>
                    <label for="playlist_{{ item.id }}" class="playlist-label">{{ item.name }}</label>
                </div>
                {% endfor %}
                <input type="submit" value="{{content_ln['show_music']['buttons'][1]}}" class="submit-button-pl">
            </form>
            {% else %}
            <p align="center">{{ content_ln['meta'][5] }}</p>
            {% endif %}
        </div>

        {%endif%}
        {% endfor %}
        {% endif %}
    </div>
</div>

<h1>{{ content_ln['show_music']['headers'][0] }}</h1>
<div class="c-author-music-container-category">
    {% if music %}
    {% for item in music[:-1] %}
    <div class="music-card" data-id="{{ item.id }}" data-artist="{{ item.artist }}" data-name="{{ item.name }}">
        <div class="c-author-track-list-item">
            <div class="c-author-track-thumbnail">
                <img src="{{ url_for('.get_image', datatype='music', item_id=item.id) }}" alt="{{ item.name }}">
                <div class="another-play-mus">
                    <button class="play-pause-btn">
                        <img src="/static/images/play3.png" alt="Play">
                    </button>
                </div>
            </div>
            <a href="{{ url_for('.show_music', m_id=item.id, name=item.name| replace(' ', '_')) }}"
               class="c-author-track-list-item-link">
                <div class="c-author-track-list-details">
                    <div class="c-author-track-name">{{ item.artist }} - {{ item.name }}</div>
<!--                    <div class="c-author-track-category"> content_ln['meta'][0] :  item.category </div>-->
                    <div class="c-author-track-duration">{{ content_ln['meta'][1] }}: {{ item.duration }}</div>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p></p>
    {% endif %}
</div>

<br><br><br><br>


<script src="/static/js/music/music_animation.js"></script>

{%endblock%}
