{% extends 'index.html' %}


{% block content %}

<div class="login-container">
<form action="{{url_for('auth.register')}}" method="post" class="register">
    <h1 class="login-title">{{content_ln['register']['headers'][0]}}</h1>
    <br>
    <div class="form-group-register">
        <p><label>{{content_ln['register']['labels'][0]}}: </label><input type="text" name="name" value="" required /></p>
        <p><label>{{content_ln['register']['labels'][1]}}: </label><input type="email" name="mail" value="" required /></p>
        <p><label>{{content_ln['register']['labels'][2]}}: </label><input type="password" name="psw" value="" required /></p>
        <p><label>{{content_ln['register']['labels'][3]}}: </label><input type="password" name="psw2" value="" required /></p>
    </div>
    <div class="form-actions-register">
        <input type="submit" value="{{content_ln['register']['buttons'][0]}}"/>
        <div class="flash-messages">
            {% for cat, m in get_flashed_messages(with_categories=True) %}
            <div class="messagetxt {{ cat }}">{{ m }}</div>
            {% endfor %}
        </div>
    </div>
    <div class="login-form-group-href">
        <a href="{{url_for('auth.login')}}">{{content_ln['register']['buttons'][1]}}</a>
    </div>
</form>
</div>

{% endblock %}



