{% extends 'index.html' %}

{% block content %}

<div class="playlist-user-container">
    <h2 class="playlist-header">{{content_ln["playlist_user"]["headers"][0]}}</h2>
    <div id="playlist-background-animation"></div>
    {% if playlist_user %}
    <div class="playlist-grid">
        {% for item in playlist_user %}
        <a href="{{ url_for('playlist.music_pl_user', pl_id=item.id, name=item.name | replace(' ', '_')) }}"
           class="playlist-link">
            <div class="playlist-user-block">
                <div class="playlist-image-wrapper">
                    <img class="playlist-image" src="{{ url_for('playlist.playlist_img', pl_id=item.id) }}"
                         alt="{{ item.name }}">
                </div>
                <div class="playlist-name">{{ item.name }}</div>
            </div>
        </a>
        {% endfor %}
    </div>

    {% else %}
    <p class="no-playlists-message">{{content_ln["playlist_user"]["message"][0]}}</p>
    {% endif %}
</div>

<br><br><br><br><br><br>

<script src="/static/js/playlist_user/background_anim.js"></script>
<script src="/static/js/playlist_user/pl_user_anim.js"></script>

{% endblock %}