<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{{url_for('static', filename='css/admin_style.css')}}" rel="stylesheet">
    <title>{{title}}}</title>
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form class="login-form" action="" method="post">
            <p><label>Username</label><input class="login_admin" type="text" name="secret_key"/></p>
            <p><label>Password</label><input class="psw_admin" type="password" name="password"/></p>
            <p><input class="submit_admin" type="submit" value="Sign In"></p>
        </form>
    </div>
</body>

</html>